.tangerine-regular {
   font-family: "Tangerine", cursive;
   font-weight: 400;
   font-style: normal;
}

.tangerine-bold {
   font-family: "Tangerine", cursive;
   font-weight: 700;
   font-style: normal;
}

.karla-extra_light {
   font-family: "Karla", sans-serif;
   font-optical-sizing: auto;
   font-weight: 200;
   font-style: normal;
}

body {
   margin: 0;
   font-family: "Karla", sans-serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   color: #CBC5D9;

}

h1 {
   margin-bottom: 2%;
   padding: 0 10%;
   font-size: 12em;
   font-family: "Tangerine", cursive;
   font-weight: 700;
   font-style: normal;
}

h2 {
   margin-bottom: 2%;
   font-size: 3em;
   font-family: "Karla", sans-serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.60);
}

p {
   padding-top: 5%;
   font-size: 1.5em;
}

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.60);
   text-align: center;
   vertical-align: middle;
}

.countdown {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   width: 50vw;
}

.countdown div p:first-of-type {
   font-size: 5em;
}

.countdown div,
.countdown div p {
   margin: 0;
   padding: 0;
   text-align: center;
   text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.60);
}

.countdown div {
   padding: 0 2%;
   width: 100px;
}

@media screen and (max-width: 768px) {
   h1 {
      font-size: 8em;
      margin: 6% 0;
   }

   h2 {
      font-size: 2em;
      margin: 6% 0;
   }

   p {
      text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.60);
   }

   .main {
      justify-content: space-evenly;
   }

   .countdown {
      width: 80vw;
   }

   .countdown div {
      padding: 0 4%;
   }

   .countdown div p:first-of-type {
      font-size: 3.5em;
   }
}