.tangerine-regular {
   font-family: "Tangerine", cursive;
   font-style: normal;
   font-weight: 400;
} 

.tangerine-bold {
   font-family: "Tangerine", cursive;
   font-style: normal;
   font-weight: 700;
}

/* <weight>: Use a value from 300 to 900
<uniquifier>: Use a unique and descriptive class name */

.merienda {
   font-optical-sizing: auto;
   font-family: "Merienda", cursive;
   font-style: normal;
   font-weight: 300;
}

body {
   margin: 0;
   color: #CBC5D9;
}

h1 {
   margin-bottom: 2%;
   font-size: 12em;
   font-family: "Tangerine", cursive;
   font-style: normal;
   font-weight: bold;
}

h2 {
   margin-bottom: 2%;
   font-size: 3em;
}

p {
   padding-top: 5%;
   font-size: 1.5em;
   text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.60);
}

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.60);
   text-align: center;
   vertical-align: middle;
}



.countdown {
   display: flex;
   justify-content: space-evenly;
   width: 50vw;
}

.countdown div p:first-of-type {
   font-size: 5em;
}

.countdown div,
.countdown div p {
   margin: 0;
   padding: 0;
   text-align: center;
}

